
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255,255,255,var(--bg-opacity));
  box-shadow: 0 0 48px rgba(0,0,0,.15);
  display: block;
  box-sizing: border-box;
  outline: none;
}

.page-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
}

#homepage-logo {
  display: block;
  height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  width: 4.125rem;  
}

#menus {
  display: flex;
  align-items: center;
}

#menus ul {
  display: flex;
  max-width: 35rem;
}

#menus ul li {
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: .9rem;
  --text-opacity: 1;
  color: rgba(80,86,102,var(--text-opacity));
  line-height: 45px;
  padding-top: .1875rem;
  margin: 0 12px;
}

.arrow-menu::after {
  position: relative;
  pointer-events: none;
  float: right;
  margin-left: .5rem;
  height: .75rem;
  width: .75rem;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMiAxMic+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjQTdBQUIyJyBkPSdNMTEuNSAzLjVMNiA5IC41IDMuNScvPjwvc3ZnPg==);
  content: "";
  top: 18px;
  margin-top: -.1875rem;
}

#mailbox {
  display: block;
  position: relative;
  height: 20px;
  margin-right: 17px;
  margin-left: 50px;
  top: 14px;
  width: 20px;
  color: rgba(80,86,102,var(--text-opacity));
  --text-opacity: 0.25;
  fill: currentColor;
  cursor: pointer;
}

