
body {
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  color: #333;
}

#fixed-bar {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 5px;
  background: white;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
}

.bar-left, .bar-middle, .bar-right {
  display: flex;
  align-items: center;
}

.bar-left button {
  border: none;
}

.bar-left-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
}

#genre a {
  font-size: 14.25px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}

.bar-middle-svg {
  display: inline-block;
  width: 195px;
  height: 26.5px;
}

#subscribe {
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background-color: #567b95;
  font-size: 11px;
  font-weight: 800;
  padding: 8px 12px 8px 12px;
  color: white;
  border: 1px solid #326891;
  border-radius: 3px;
  line-height: 11px;
  text-transform: uppercase;
  margin-right: 7px;
}

#account {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  padding: 8px 9px;
}

#content {
  padding-top: 50px;
}

#article-title {
  margin: 0 20px 20px;
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 20px;  
}

.article-top {
  display: block;
}

#article-title {
  margin-bottom: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
}

.sms-buttons {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.sms-buttons li {
  color: #999;
  display: inline;
  margin-right: 16px;
  vertical-align: center;
}

/* .sms-buttons li svg {
  padding: 5px;
  width: 15px;
  height: 15px;
} */

.sms-buttons li button {
  border: none;
  background-color: rgb(255, 255, 255);
  vertical-align: middle;
  padding: 0;
}

#whatsapp-share {
  padding: 5px;
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  background-image: url(https://www.nytimes.com/vi-assets/static-assets/icon-whatsapp-17x17-000-b100d38495ee541e2e4f30bcaf9bfe0c.svg);
}

.css-1pv1u79 {
  -moz-box-align: center;
  align-items: center;
  background: transparent none repeat scroll 0% 0%;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 4px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  min-width: 26px;
  min-height: 14px;
  padding: 4px;
  position: relative;
  width: auto;
}

.css-1pv1u79::before {
  border-color: rgb(102, 102, 102) transparent;
  border-style: solid;
  bottom: -7px;
  border-width: 6px 0px 0px 8px;
  content: "";
  display: block;
  left: 15px;
  position: absolute;
  width: 0px;
}

.css-1pv1u79::after {
  border-color: rgb(255, 255, 255) transparent;
  border-style: solid;
  border-width: 6px 0px 0px 6px;
  bottom: -6px;
  content: "";
  display: block;
  left: 16px;
  position: absolute;
  width: 0px;
}

.css-1dtr3u3 {
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin-top: auto;
}

.theme-pic img {
  width: 100%;
  vertical-align: top;
}

.theme-pic figcaption {
  display: block;
  margin: 10px 20px 0;
  text-align: left;
  margin-left: 0;
  max-width: 720px;
}

#pic-explanation {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  vertical-align: baseline;
}

#pic-author {
  color: #888;
  letter-spacing: 0.01em;
  vertical-align: baseline;
  font-size: 0.75rem;
  display: inline;
}

.article-meta {
  margin-bottom: 20px;
  color: #121212;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.article-meta p {
  align-items: center;
  margin-bottom: 15px;
}

#article-author {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  color: #333;
  display: inline-block;
  margin-bottom: 15px;
}

#published-time {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

/* Paragraph */
.paragraph {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 945px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.paragraph-content {
  margin-left: calc((100% - 600px) / 2);
  margin-right: 0;
  width: 600px;
}

.paragraph-content p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.9375rem;
  margin-top: 0;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.first-paragraph-sidebar {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  width: 130px;
  align-items: center;
}

.editors-picks {
  display: flex;
  flex-direction: column;
}

.editors-picks h2 {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.editors-picks a {
  font-family: nyt-cheltenham-small, georgia, "times new roman";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  color: rgb(51, 51, 51);
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 16px;
  margin-bottom: 0px;
  text-decoration: none;
}

.editors-picks a:hover {
  text-decoration: underline;
}

.paragraph-title {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.9375rem;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-weight: 700;
}

#theory {
  display: block;
  margin: 15px 60px;
}

#theory header {
  position: relative;
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
  display: block;
}

#theory-title {
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  margin-bottom: 2px;
}

#theory-extraction {
  margin-right: 7px;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
  color: #666;
  font-size: .875rem;
  margin: 0;
  margin-bottom: 10px;
}

#illustration {
  width: 945px;
  display: block;
  position: relative;
}

#illustration img {
  display: block;
  position: absolute;
  max-width: 100%; 
  z-index: -1;
}

.all-explanations {
  display: grid;
  grid-template-rows: repeat(4, 140px);
}

.first-row {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.second-row {
  grid-row-start: 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-content {
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  margin: 0;
}

.first-words {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .05em;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  line-height: 17px;
  color: #000000;
}

#theory-footer {
  margin-top: 24px;
  display: block;
  color: #333;
  font-size: .875rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
}

#theory-footer::before {
  width: 60px;
  content: '';
  display: inline-block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
}

#video {
  width: 600px;
  margin: 43px auto;
  display: block;
}

#video figcaption {
  margin: 10px 20px 0;
  text-align: left;
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

#video figcaption span {
  color: #888;
  letter-spacing: 0.01em;
  font-size: 12px;
}

#telescope {
  margin: 2.6875rem auto;
  width: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

#telescope figcaption {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #666;
  margin: 10px 20px 0 20px;
  text-align: left;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

#telescope figcaption span {
  color: #888;
  font-size: 12px;
}

.article-end {
  display: block;
}

#version {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0px auto 1em;
  color: rgb(102, 102, 102);
}

#links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 1.5rem auto 2rem;
}

#links button {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: white;
  display: block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  margin-left: auto;
  margin-right: 16px;
  padding: 5px 0px;
  text-transform: uppercase;
  transition: background-color 0.6s ease 0s;
  width: 100%;
  cursor: pointer;
}

#links ul {
  justify-content: end;
  margin: 0;
  padding: 0;
}

#links ul li {
  margin-left: 15px;
}

#related-articles {
  display: grid;
  grid-template-columns: minmax(auto, 680px) minmax(280px, 4fr);
  margin-top: 45px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 20px;
  max-width: 1200px;
  background-color: rgb(255, 255, 255);
}

#related-articles >* {
  border-top: 1px solid rgb(0, 0, 0);
}

#newsletter-block h2 {
  padding: 17px 0px;
}

.newsletter-shortcut {
  display: block;
  padding: 15px;
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.newsletter-shortcut a {
  text-align: left;
  margin-left: 118px;
  color: rgb(50, 104, 145);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.newsletters{
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.news-img {
  height: 82px;
  width: 82px;
  margin-bottom: 0px;
  margin-right: 15.5px;
  flex-shrink: 0;
}

.words {
  display: grid;
  justify-items: start;
  width: 525px;
}

.words >* {
  padding: 0;
  margin: 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-align: left;
  width: calc(100% - 150px);
}

.news-frequency {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
}

.news-name {
  color: rgb(18, 18, 18);
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 1.125rem;
}

.news-description {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
  color: rgb(51, 51, 51);
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 10px;
  min-width: 475px;
}

.subscriber svg {
  width: 35px;
  height: 35px;
}

#dont-show {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgb(102, 102, 102);
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 16px auto 0px;
  border: none;
}








#most-popular {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  padding-bottom: 15px;
  margin-left: 30px;
}

#most-popular-title {
  color: #333;
  padding: 17px 0px 0px;
  font-size: 16px;
}

.popular-events {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 20px 0px;
  text-decoration: none;
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
}

.more {
  max-width: 852px;
  padding: 0px;
}

.more h2 {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  border-top: 1px solid rgb(0, 0, 0);
  font-size: 1rem;
  padding-top: 17px;
  line-height: 1.375rem;
  padding-right: 0px;
  padding-left: 0px;  
}

.more-block {
  max-width: 852px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 10px;
}

.more-item {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
}

.more-item img {
  width: 225px;
  height: 150px;
}

.more-content >* {
  margin: 0;
  padding: 0;
}

.more-content h5 {
  text-align: right;
  margin: 3px 0px 0px;
  min-height: 12px;
  padding-bottom: 4px;
  font-size: 0.625rem;
  text-transform: none;
  color: rgb(153, 153, 153);
  line-height: 1.23em;
  font-size: 0.6em;
}

.more-content h3 {
  line-height: 1.3125rem;
  text-align: left;
  min-width: 375px;
  color: rgb(51, 51, 51);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 500;
  padding-right: 10px;
  font-size: 1rem;
  min-width: 110px;
}

.more-content p {
  text-align: left;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
  color: rgb(153, 153, 153);
  margin-top: 5px;
}

#blank-part {
  visibility:hidden
}