@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, sans-serif;
}

input:focus{
  outline: none;
}

main{
  display: flex;
  justify-content: center;
  margin-top: 56px;
  margin-left: 24px;
}

section{
  padding: 24px 24px 0 0;
  margin-left: 24px;
}
/* Top Bar */

header {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between; 
}

/* Bar Start */
#nav-start {
  display: flex;
  align-items: center;
}

#nav-menu{
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 16px;
  border: none;
  fill: #606060;
}

#nav-logo {
  width: 80px;
}

/* Bar Middle */
#nav-center {
  display: flex;
  align-items: center;
}

#search-container {
  display: flex;
  margin-left: 40px;
  padding: 0 4px;
  align-items: center;
  border: 1px solid;
  border-color: lightgray;
}

#search-container input{
  line-height: 24px;
  margin-left: 4px;
  border: none;
  border-right: 1px solid;
  border-color: lightgray;
}

#search-container button{
  width: 60px;
  padding: 4px 8px;
  border: none;
}

#search-container button svg {
  width: 20px;
  height: 20px;
  fill: #818181;
}

#voice-search{
  border: none;
}

#voice-search svg{
  width: 24px;
  height: 24px;
}

/* Bar End */
#nav-end {
  display: flex;
  align-items: center;
  margin-right: 32px;

}

#nav-end button{
  border: none;
  padding: 1px 8px;
  margin-right: 8px;
}

#nav-end button svg{
  width: 24px;
  height: 24px;
}

#user-icon{
  width: 32px;
  height: 32px;
  padding: 1px 6px;
}

/* Video */
#video{
  position: relative;
}

#video iframe{
  width: 100%;
}

#video-title{
  font-weight: 400;
  font-size: 18px;
}

.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#info-text{
  font-weight: 400;
  font-size: 14px;
  color: #606077;
}

.info-menu {
  display: flex;
  align-items: center;
}

.info-menu button{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}

.info-menu button svg{
  width: 24px;
  height: 24px;
  fill: #909090;
  padding-right: 4px;
}

.info-menu button span{
  font-size: 14px;
  font-weight: 500;
  color: rgb(96, 96, 96);
}

/* Description */
#description {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  border-bottom: 1px solid lightgray;
}

.channel-header{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.channel-header img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.channel-info h1{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  
}

.channel-info p{
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: rgb(96, 96, 96);
}

#subscribe{
  padding: 10px 16px;
  margin-left: auto;
  background: #cc0000;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 500;
  text-transform: uppercase;

}

.description-body{
  margin-left: 60px;
}

.description-body p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

#show-more{
  padding: 0;
  margin-top: 8px;
  background: transparent;
  color: rgb(96, 96, 96);
  border: none;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
}

/* Comment */
.comments-header{
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comments-header h2{
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  align-self: flex-start;
  display: inline-block;
  padding-right: 32px;
}

.comments-header svg{
  width: 24px;
  height: 24px;
  padding-right: 8px;
}

.comments-header span{
  color: rgb(96, 96, 96);
}

.comment-form{
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.comment-form img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment-form input{
  flex: 1;
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid;
  border-color: lightgray;
  background-color: transparent;
}

.comments-list{
  display: flex;
  flex-direction: column;
}

.comment-unit{
  display: flex;
}

.commenter-avatar img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment-info{
  display: flex;
  flex-direction: column;
}

.comment-header{
  display: flex;
  margin-bottom: 2px;
}

.comment-header h2{
  font-size: 13px;
  margin: 0;
  padding-right: 4px;
}

.comment-header span{
  color: rgb(96, 96, 96);
  font-size: 13px;
  align-items: center;
  margin: 0;

}

.comment-action{
  display: flex;
  margin-bottom: 10px;
}

.comment-action button{
  border: none;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.comment-action svg{
  width: 24px;
  height: 24px;
  padding-right: 8px;
  fill: #909090;
}

.comment-action button span{
  color: rgb(96, 96, 96);
}

/* Sidebar */

.sidebar{
  margin-top: 20px;
  display: flex;
  height: 100%;
  width: 150%;
}

.video-thumbnail img{
  padding-right: 10px;
}
.preview-container{
  display: flex;
  flex-direction: column;
  position: relative;
}

.preview-container a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.preview-metadata{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.video-title{
  font-size: 14px;
  font-weight: 500;
  color: rgb(3, 3, 3);

}

.secondary-metadata{
  font-size: 13px;
  font-weight: 400;
  color: rgb(96, 96, 96);
  width: 100%;
}
